In [29]:
%matplotlib inline
from modsim import *
from tabula import read_pdf
from pandas import read_html
salmon_pop = read_pdf('USASAC2015-Report#27-2014-Activities 8.pdf')
product_tables = read_html('USASAC2015-Report#27-2014-Activities 10.html')

In [42]:
type(product_tables[0])

pandas.core.frame.DataFrame

In [37]:
salmon_pop.columns = ['year','1sw', '2sw','3sw', 'repeat', 'total','hatchery', 'natural']
salmon_pop.index = salmon_pop.year
salmon_pop

      year    1sw    2sw  3sw  repeat  total hatchery natural
year
1967  1967     75    574   39      93    781      114     667
1968  1968     18    498   12      56    584      314     270
1969  1969     32    430   16      34    512      108     404
1970  1970      9    539   15      17    580      162     418
1971  1971     31    407   11       5    454      177     277
1972  1972     24    946   38      17  1,025      495     530
1973  1973     18    623    8      13    662      422     240
1974  1974     52    791   35      25    903      639     264
1975  1975     77  1,250   14      30  1,371    1,126     245
1976  1976    172    836    6      16  1,030      933      97
1977  1977     63  1,027    7      33  1,130      921     209
1978  1978    145  2,269   17      33  2,464    2,082     382
1979  1979    225    972    6      21  1,224    1,039     185
1980  1980    707  3,437   11      57  4,212    3,870     342
1981  1981    789  3,738   43      84  4,654    4,428     226
1982  1982    294  4,388   19      42  4,743    4,489     254
1983  1983    239  1,255   18      14  1,526    1,270     256
1984  1984    387  1,969   21      52  2,429    1,988     441
1985  1985    302  3,913   13      21  4,249    3,594     655
1986  1986    582  4,688   28      13  5,311    4,597     714
1987  1987    807  2,191   96     132  3,226    2,896     330
1988  1988    755  2,386   10      67  3,218    3,015     203
1989  1989    992  2,461   11      43  3,507    3,157     350
1990  1990    575  3,744   18      38  4,375    3,785     590
1991  1991    255  2,289    5      62  2,611    1,602   1,009
1992  1992  1,056  2,255    6      20  3,337    2,678     659
1993  1993    405  1,953   11      37  2,406    1,971     435
1994  1994    342  1,266    2      25  1,635    1,228     407
1995  1995    168  1,582    7      23  1,780    1,484     296
1996  1996    574  2,168   13      43  2,798    2,092     706
1997  1997    278  1,492    8      36  1,814    1,296     518
1998  1998    340  1,477    3      42  1,862    1,146     716
1999  1999    402  1,136    3      26  1,567      959     608
2000  2000    292    535    0      20    847      562     285
2001  2001    269    804    7       4  1,084      833     251
2002  2002    437    505    2      23    967      832     135
2003  2003    233  1,185    3       6  1,427    1,238     189
2004  2004    319  1,266   21      24  1,630    1,395     235
2005  2005    317    945    0      10  1,272    1,019     253
2006  2006    442  1,007    2       5  1,456    1,167     289
2007  2007    299    958    3       1  1,261      940     321
2008  2008    812  1,758   12      23  2,605    2,191     414
2009  2009    243  2,065   16      16  2,340    2,017     323
2010  2010    552  1,081    2      16  1,651    1,468     183
2011  2011  1,084  3,053   26      15  4,178    3,560     618
2012  2012     26    879   31       5    941      731     210
2013  2013     78    525    3       5    611      413     198
2014  2014    110    334    3       3    450      304     146